body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f2f5;
    color: #333;
}

.container-large{
    max-width: 50rem;
    margin: auto;
}

h1 {
    color: #0275d8;
    text-align: center;
}

.Heading{
    font-size: 36px;
}

input, select, button, .reset-button {
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input, select {
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button, .reset-button {
    width: 100%;
    background-color: #0275d8;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .reset-button:hover {
    background-color: #0256b3;
}

.reset-button {
    background-color: #d9534f;
}

.budget-input, .ausgaben-input {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0275d8;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

h2 {
    margin-top: 20px;
    text-align: center;
    color: #555;
}
